#s-103b59f8-67a2-4241-92e5-147961508e84 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_1 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_2 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Ellipse_4 > .shapert-clipping {
  width: 44px;
  height: 44px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  overflow: hidden;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  width: 44px;
  height: 44px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Ellipse_4 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  width: 44px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Ellipse_4 {
  width: 42px;
  height: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 2px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Ellipse_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_3 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_71 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_71 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_71 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_71 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_22 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_22 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_22 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_22 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Line_1 marker {
  fill: #C0C0C0;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 362px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Line_1 {
  width: 362px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #C0C0C0;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_2 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_2 {
  position: absolute;
  width: 49px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_2 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_2 > svg {
  height: 47px;
  width: 49px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_44 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_44 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_44 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_44 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_1 {
  position: absolute;
  width: 360px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_1 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_1 > .paddingLayer {
  height: 31px;
  width: 340px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_4 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_2 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_2 > .paddingLayer {
  height: 31px;
  width: 340px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_45 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_45 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_45 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_45 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_5 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_46 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_46 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_46 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_46 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_6 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_47 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_47 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_47 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_47 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 {
  position: absolute;
  width: 360px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 > .paddingLayer {
  height: 31px;
  width: 340px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_3 span#rtr-s-Rectangle_3_2 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_7 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_48 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_48 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_48 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_48 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_8 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_49 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_49 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_49 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_49 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #980000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_4 {
  position: absolute;
  width: 360px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_4 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_4 > .paddingLayer {
  height: 44px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_9 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_50 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_50 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_50 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_50 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_5 {
  position: absolute;
  width: 360px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_5 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_5 > .paddingLayer {
  height: 31px;
  width: 340px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_10 > .clipping, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_51 > svg {
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_51 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_51 > img, #s-103b59f8-67a2-4241-92e5-147961508e84 #s-Image_51 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-103b59f8-67a2-4241-92e5-147961508e84 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}