#s-24d1d0eb-ae59-471c-9537-41140da459b5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Ellipse_4 > .shapert-clipping {
  width: 44px;
  height: 44px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  overflow: hidden;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  width: 44px;
  height: 44px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Ellipse_4 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  width: 44px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Ellipse_4 {
  width: 42px;
  height: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 2px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Ellipse_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 > .clipping, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_71 > svg {
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_71 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_71 > img, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_71 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_22 > svg {
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_22 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_22 > img, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_22 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Line_1 marker {
  fill: #C0C0C0;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 362px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Line_1 {
  width: 362px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #C0C0C0;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name input::-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name input:-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name {
  position: absolute;
  width: 286px;
  height: 40px;
  text-shadow: none;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name > .backgroundLayer {
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name > .paddingLayer {
  height: 28px;
  width: 274px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 {
  position: absolute;
  width: 286px;
  height: 40px;
  text-shadow: none;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 > .backgroundLayer {
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-username_1 > .paddingLayer {
  height: 28px;
  width: 274px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_42 > svg {
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_42 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_42 > img, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_42 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_43 > svg {
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_43 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_43 > img, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_43 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 {
  position: absolute;
  width: 286px;
  height: 40px;
  text-shadow: none;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 > .backgroundLayer {
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_1 > .paddingLayer {
  height: 28px;
  width: 274px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_44 > svg {
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_44 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_44 > img, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_44 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 {
  position: absolute;
  width: 286px;
  height: 40px;
  text-shadow: none;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 > .backgroundLayer {
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_2 > .paddingLayer {
  height: 28px;
  width: 274px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 {
  position: absolute;
  width: 286px;
  height: 40px;
  text-shadow: none;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 > .backgroundLayer {
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_3 > .paddingLayer {
  height: 28px;
  width: 274px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 {
  position: absolute;
  width: 286px;
  height: 40px;
  text-shadow: none;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 > .backgroundLayer {
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_4 > .paddingLayer {
  height: 28px;
  width: 274px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_45 > svg {
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_45 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_45 > img, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_45 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 {
  position: absolute;
  width: 286px;
  height: 40px;
  text-shadow: none;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 > .backgroundLayer {
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_5 > .paddingLayer {
  height: 28px;
  width: 274px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_46 > svg {
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_46 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_46 > img, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_46 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 {
  position: absolute;
  width: 286px;
  height: 40px;
  text-shadow: none;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 > .backgroundLayer {
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-name_6 > .paddingLayer {
  height: 28px;
  width: 274px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #689999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn {
  position: absolute;
  width: 296px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn > .clipping, #s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn > .paddingLayer {
  height: 30px;
  width: 286px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn .valign {
  vertical-align: middle;
  text-align: center;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn span#rtr-s-loginBtn_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn span#rtr-s-loginBtn_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}