#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 #s-loginBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-24d1d0eb-ae59-471c-9537-41140da459b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}