#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Ellipse_4 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Ellipse_2 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Ellipse_3 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Ellipse_6 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Ellipse_7 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Ellipse_8 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Ellipse_9 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-24f20b77-308e-4c53-8c5f-5e2dae4bf3c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}