#s-39307af9-b30d-4161-8f67-4784440227db #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Ellipse_2 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Ellipse_3 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Ellipse_4 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-39307af9-b30d-4161-8f67-4784440227db #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-39307af9-b30d-4161-8f67-4784440227db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}