#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Ellipse_4 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-loginBtn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 36px;
  width: 332px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}