#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 #s-loginBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6053f5a8-1ff8-49b9-81c6-f810dbdb9a37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}