#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Image_1 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Image_1 > img, #s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Image_1 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone input::-moz-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone input:-moz-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone {
  position: absolute;
  width: 296px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-phone > .paddingLayer {
  height: 28px;
  width: 284px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password input::-moz-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password input:-moz-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password {
  position: absolute;
  width: 296px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password > .paddingLayer {
  height: 28px;
  width: 284px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-loginBtn > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #689999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-loginBtn {
  position: absolute;
  width: 296px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-loginBtn > .clipping, #s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-loginBtn > .paddingLayer {
  height: 38px;
  width: 294px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-loginBtn .valign {
  vertical-align: middle;
  text-align: center;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-loginBtn span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-loginBtn span#rtr-s-loginBtn_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-loginBtn span#rtr-s-loginBtn_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_2 > .clipping, #s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_3 > .clipping, #s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 {
  position: absolute;
  width: 296px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 #s-password_1 > .paddingLayer {
  height: 28px;
  width: 284px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-72efe7fe-f7a3-4064-87c5-f8c3cff7ae58 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}