#s-9452cc48-b999-44a6-b15f-a47b5c6755ae > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 150px;
  height: 150px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 150px;
  height: 150px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Cambria',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Ellipse_1 {
  width: 150px;
  height: 150px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #980000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_2 > .shapert-clipping {
  width: 44px;
  height: 44px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  overflow: hidden;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  width: 44px;
  height: 44px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_2 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_2 {
  position: absolute;
  width: 44px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Ellipse_2 {
  width: 42px;
  height: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 2px;
  stroke: #EFEFEF;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_1 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_1 {
  position: absolute;
  width: 200px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_1 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_3 > .shapert-clipping {
  width: 44px;
  height: 44px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  overflow: hidden;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  width: 44px;
  height: 44px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_3 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_3 {
  position: absolute;
  width: 44px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Ellipse_3 {
  width: 42px;
  height: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 2px;
  stroke: #EFEFEF;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_2 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_2 {
  position: absolute;
  width: 200px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_2 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_16 > svg {
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_16 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_16 > img, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_16 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_4 > .shapert-clipping {
  width: 44px;
  height: 44px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  overflow: hidden;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  width: 44px;
  height: 44px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_4 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_4 {
  position: absolute;
  width: 44px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Ellipse_4 {
  width: 42px;
  height: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 2px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_3 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_5 > .shapert-clipping {
  width: 44px;
  height: 44px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  overflow: hidden;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  width: 44px;
  height: 44px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_5 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_5 {
  position: absolute;
  width: 44px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Ellipse_5 {
  width: 42px;
  height: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 2px;
  stroke: #EFEFEF;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_4 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_3 {
  position: absolute;
  width: 200px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_3 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_22 > svg {
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_22 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_22 > img, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_22 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_17 > svg {
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_17 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_17 > img, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_17 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_6 > .shapert-clipping {
  width: 44px;
  height: 44px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  overflow: hidden;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  width: 44px;
  height: 44px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_6 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_6 {
  position: absolute;
  width: 44px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Ellipse_6 {
  width: 42px;
  height: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 2px;
  stroke: #EFEFEF;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_5 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_4 {
  position: absolute;
  width: 200px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_4 > .clipping, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_18 > svg {
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_18 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_18 > img, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_18 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_19 > svg {
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_19 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_19 > img, #s-9452cc48-b999-44a6-b15f-a47b5c6755ae #s-Image_19 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9452cc48-b999-44a6-b15f-a47b5c6755ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}