#s-a0472223-f5c1-4e87-8c4a-5fce6e2b038d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0472223-f5c1-4e87-8c4a-5fce6e2b038d #s-password INPUT {
  font-family: Arial;
}
#s-a0472223-f5c1-4e87-8c4a-5fce6e2b038d #s-loginBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0472223-f5c1-4e87-8c4a-5fce6e2b038d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0472223-f5c1-4e87-8c4a-5fce6e2b038d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0472223-f5c1-4e87-8c4a-5fce6e2b038d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a0472223-f5c1-4e87-8c4a-5fce6e2b038d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}