#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 238px;
  margin-top: -240px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-loginBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-abcef1da-2e55-4421-a438-217d93441dc9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}